<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://app.yitaigroup.com/driver.ipa</string>
		<key>displayImageURL</key>
		<string>https://app.yitaigroup.com/image.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://app.yitaigroup.com/image.512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>driver.flutter</key>
		<string>pick.flutter.app</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9N2TPH9J8Q</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
